@import 'variables.scss';
@import 'layout.scss';
@import 'typography.scss';

body {
  padding-top: 48px;
  background-image: url(img/background.jpg);
}

header {
  display: flex;
  align-items: baseline;
  margin-bottom: 6px;
  margin-left: 5px;

  .logo {
    width: 40px;
    height: 40px;
    background-image: url(img/logo.png);
    margin-right: 12px;
    border-radius: 3px;
  }
}

.main-contents {
  background: #fff;
  border-radius: 5px;
  padding: 18px;
}

@for $i from 1 through 32 {
  .mt-#{$i} {
    margin-top: ($i) + px;
  }
}

@for $i from 1 through 32 {
  .mb-#{$i} {
    margin-bottom: ($i) + px;
  }
}